/* TIMELINE POSTS OR CONTENTS */
.post {
	background-color: white;
	border-radius: 10px;
	width: 100%;
	overflow: hidden;
	margin: 10px 0px;
	padding-bottom: 5px;
}
				/* =========================================================================================================================== */

				.postMeta {
					width: 100%;
					/* background-color: rgb(235, 235, 235); */
					padding: 10px;
					display: grid;
					align-items: center;
					grid-template-columns: 1fr 1fr;
				}
							.postDetails {
								/* background-color: #5ba8db; */
								display: flex;
								align-items: center;
							}
										.postMetaAuthorUsername {
											margin-left: 3px;
										}

										.postMetaDate {
											color: #00000058;
											font-weight: bolder;
											margin-left: 10px;
										}

							.postEdit {
								/* background-color: blue; */
								display: grid;
								justify-items: end;
								align-self: start;
							}
										.editDropDown {
											display: grid;
										}
												.editButton {
													color: #aeaeae;
												}
											
				
				/* =========================================================================================================================== */
				
				.postContentContainer {
					background-color: black; 
					width: 100%;
					overflow: hidden;
					height: auto;
				}
				
							.postContentText {
								width: 100%;
								margin-left: 10px;
							}
							
							.postContentImage {
								width: 100%;
							}
				
				/* =========================================================================================================================== */
				
				.postDetailsExtra {
					/* background-color: red; */
					display: grid;
					padding: 5px 0px;
					grid-template-columns: 1fr 2.7fr;
					align-items: center;
				}							
							.viewComments {
								cursor: pointer;
								justify-self: end;
								margin-right: 10px;
							}
				/* =========================================================================================================================== */

.accordion {
	/* background-color: aquamarine; */
	padding: 0px 10px;
}

.title {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.dropCommentsIcon {
	justify-self: end;
}


.personComment {
	display: grid;
	grid-template-columns: 1fr 10fr;
}






#replyForm {
	display: grid;
	grid-template-rows: 1fr 1fr;
	/* background-color: violet; */
	margin-bottom: 10px;
}

.commentfield {
	display: grid;
	grid-template-columns: 1fr 10fr;
	align-items: start; 
}
#commentField {
	resize: none;
	border-top-right-radius: 0px; 
	border-bottom-right-radius: 0px;
}
#replyButton {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}