/* Overrides any default css framework rules of Semantic UI */

#profileImageContainer {
    background-color: blue;
    width: 10em;
    height: 10em;
    border-radius: 500em;
    overflow: hidden;
    display: grid;
    margin-bottom: 10px;
}

#card {
    background-color: transparent;
    height: 30em;
    box-shadow: none;
    width: 16em;
    font-size: 1em;
}

.image {
    background-color: transparent; 
}

.image #avatar {
    border-radius: 500em;
    height: 100%;
    width: 100%;
}

#accountInfo {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 10px;
}