<div class="ui card" id="card">
	<div class="image" style="background-color: transparent;">
		<img src="/images/avatar.png" id="avatar"> <!-- Placeholder Image Path -->
	</div>

	<div class="ui content">
		<a class="header">@uSeRnaMe</a>
		<div class="description">
			Description in the Mini Profile in timeline
		</div>
	</div>

	<div class="extra content">
		<a><i class="comment icon"></i># Posts</a>
		<a><i class="user icon"></i># Following</a>
		<a><i class="address book outline icon"></i># Followers</a>
	</div>
</div>