<div class="ui card">
   <div class="image">
     <img src="../../images/paolo.jpg"> <!-- Placeholder Image Path -->
   </div>
   <div class="content">
     <a class="header">Logged in UserName</a>
     <div class="meta">
       <span class="date">Joined in {year}</span>
     </div>
     <div class="description">
       Description in the Mini Profile in timeline
     </div>
   </div>
   <div class="extra content">
     <a>
       <i class="comment icon"></i>
       # Posts
     </a>
     <a>
      <i class="user icon"></i>
      # Following
    </a>
    <a>
      <i class="address book outline icon"></i>
      # Followers
    </a>
   </div>
 </div>