/* Overrides any default css framework rules of Semantic UI */

#card {
    background-color: transparent;
    height: 30em;
    box-shadow: none;
    width: 15em;
    font-size: 1em;
}

.image {
    background-color: transparent; 
}

.image #avatar {
    border-radius: 500em;
    height: 100%;
    width: 11em;
    background-color: transparent;
    margin-bottom: 10px;
}

#accountInfo {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}