<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="images/favicon.ico" />
	<title>Grumblr</title>

	<!-- semantic-ui styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />



	<!-- main css -->
	<link rel="stylesheet" type="text/css" media="screen" href="/css/index.css" />

</head>

<body>

	<div class="wrapper">

		<div class="loginContainer">

			<!-- logo -->
			<div class="logoContainer">
				<img src="../images/Logo2x.png" alt="GRUMBLR" id="GRUMBLR">
			</div>



			<div class="formContainer">
				<form action="/auth/" method="POST" class="ui form">
							
							<!-- Brand -->
							<div class="title">
								<h1>GRUMBLR</h1>
							</div>

							<!-- message/alert -->
							<% if (locals.message) {
								if (message.length > 0) { %>
								<div class="ui negative message">
									<i class="close icon"></i>
									<div class="header">
										<%= message%>
									</div>
								</div>
								<%}
							}%>

							<!-- username -->
							<div class="field">
						<label id="username">EMAIL ADDRESS</label>
						<input type="text" name="email" autocomplete="off" required="required">
					</div>

					<!-- password -->
					<div class="field">
						<label id="password">PASSWORD</label>
						<input type="password" name="password" autocomplete="off" required="required">
					</div>

					<!-- remember me checkbox -->
					<div class="field">
						<div class="ui checkbox">
							<input type="checkbox" tabindex="0">
							<label style="font-size: 0.8em; color:#859CAB;"> &nbsp;Remember Me</label>
						</div>
					</div>

					<!-- login button -->
					<button class="ui button fluid" type="submit" id="LoginButton">Login</button>

					<div class="registerAccount">
						<a href="/auth/signup" class="ui button fluid" id="registerButton">
							Sign up for an account?
						</a>
					</div>

				</form>
			</div>
			<!-- formContainer -->

		</div>
		<!-- loginContainer -->

	</div>
	<!-- wrapper -->




	
<!-- ======= SEMANTIC UI SCRIPTS ========================================================================================================================== -->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<!-- ======= MAIN SCRIPTS ================================================================================================================================= -->
<script>
	$('.close.icon')
		.click(function(){
			$('.ui.negative.message').hide();
		})
	;
</script>

</body>

</html>