<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />

   <!-- Infinite Scroll based on API calls with jQuery -->
   <script src="//unpkg.com/jscroll/dist/jquery.jscroll.min.js"></script>
   <link rel="stylesheet" href="./css/profile.css">
   <link rel="stylesheet" href="./components/navbar/navbar.css">
   <link rel="stylesheet" href="../css/timeline.css">
   <link rel="stylesheet" href="./components/miniprofile/miniprofile.css">
   <link rel="stylesheet" href="./components/post/post.css">
   
   <title>Grumblr</title>
</head>

<body>
      
<% include  ../public/components/navbar/navbar.ejs %>


<div id="miniprofile"><% include ../public/components/miniprofile/miniprofile.html %></div>

<div id="content">

            
            <% include ../public/components/Miniprofile/miniprofile.html %>

      <div class="extra">
            <h3>Timeline</h3>
      </div>
            <div class="post">
                        <!-- post meta data -->
                        <div class="postMeta">
                           <div class="author">
                              <img class="ui avatar image" src="/images/avatar.png" class="postMetaAvatar">
                              <span class="postMetaAuthorName">
                                 @uSeRnAmE
                              </span>
                           </div>
                           <div class="postMetaTime">date posted</div>
                        </div>
         
                        <!-- post Content -->
                        <div class="postContentContainer">
                           <p class="postContent">
                              This is the text of the content/post. this text should be reflected to the caption inside the modal.
                           </p>
                           <img src="./images/placeholderimage1.jpg" alt="#" id="postContent">
                        </div>
         
                        <!-- post comment section -->
                        <div class="postContentExtra">
                           <div class="postDetails">
                             <i class="comment icon"></i>
                             <!-- number of comments shown in the post -->
                             <span>0 Comments</span>             
                           </div>
      
      
      
      
      
      
                           <a class="viewComments">View Comments</a>
                           <!-- view comments modal -->
                           <div class="ui modal longer">
                              
                              <!-- modal content container -->
                              <div class="commentModal">
                                 <div class="modal_postCotent">
                                    <div class="postContentContainer">
                                          <!-- post image -->
                                          <img src="./images/placeholderimage1.jpg" alt="#" id="postContent">
      
                                          <!-- post meta data -->
                                          <div class="postMeta">
                                                <div class="author">
                                                      <img class="ui avatar image" src="/images/avatar.png" class="postMetaAvatar">
                                                      <span class="postMetaAuthorName">
                                                            @uSeRnAmE
                                                      </span>
                                                </div>
                                                <div class="postMetaTime">date posted</div>
                                           </div>
      
                                           <!-- post caption -->
                                          <div class="captionContainer">
                                                <p class="caption">
                                                   This is the caption/text same as what is written in the post outside this modal.
                                                </p>
                                          </div>
                                    </div>
                                 </div>
      
      
                                 <div class="modal_commentSection scrolling content">
                                          <!-- comments section -->
                                          <div class="commentSection">
                                                <div class="commentContent">
                                                   <img class="ui avatar image" src="/images/avatar.png" alt="avatar">
                                                   <p>
                                                      <a href="" class="modal_authorName">@Author's_uSeRnAmE</a>
                                                      <span>
                                                            author's comment shall be shown here. this is inside a span tag.
                                                      </span>
                                                   </p>
                                                </div>
                                          </div>
                                          
                                          <!-- comment text area -->
                                          <div class="postComments ui fluid input transparent form">
                                                <img class="ui avatar image" src="/images/avatar.png" id="commentUserAvatar">
                                                <textarea placeholder="Add Comment..." rows="1" id="commentField"></textarea>
                                          </div>
                                 </div>
                              </div>
                           </div>
                        </div>
            </div> <!-- some content -->
            <div class="post">
                        <!-- post meta data -->
                        <div class="postMeta">
                           <div class="author">
                              <img class="ui avatar image" src="/images/avatar.png" class="postMetaAvatar">
                              <span class="postMetaAuthorName">
                                 @uSeRnAmE
                              </span>
                           </div>
                           <div class="postMetaTime">date posted</div>
                        </div>
         
                        <!-- post Content -->
                        <div class="postContentContainer">
                           <p class="postContent">
                              This is the text of the content/post. this text should be reflected to the caption inside the modal.
                           </p>
                           <img src="./images/placeholderimage1.jpg" alt="#" id="postContent">
                        </div>
         
                        <!-- post comment section -->
                        <div class="postContentExtra">
                           <div class="postDetails">
                             <i class="comment icon"></i>
                             <!-- number of comments shown in the post -->
                             <span>0 Comments</span>             
                           </div>
      
      
      
      
      
      
                           <a class="viewComments">View Comments</a>
                           <!-- view comments modal -->
                           <div class="ui modal longer">
                              
                              <!-- modal content container -->
                              <div class="commentModal">
                                 <div class="modal_postCotent">
                                    <div class="postContentContainer">
                                          <!-- post image -->
                                          <img src="./images/placeholderimage1.jpg" alt="#" id="postContent">
      
                                          <!-- post meta data -->
                                          <div class="postMeta">
                                                <div class="author">
                                                      <img class="ui avatar image" src="/images/avatar.png" class="postMetaAvatar">
                                                      <span class="postMetaAuthorName">
                                                            @uSeRnAmE
                                                      </span>
                                                </div>
                                                <div class="postMetaTime">date posted</div>
                                           </div>
      
                                           <!-- post caption -->
                                          <div class="captionContainer">
                                                <p class="caption">
                                                   This is the caption/text same as what is written in the post outside this modal.
                                                </p>
                                          </div>
                                    </div>
                                 </div>

      
<div id="content">
      
      <div id="postContainer">
            <% include ../public/components/post/post.ejs %>
            <% include ../public/components/post/post.ejs %>
            <% include ../public/components/post/post.ejs %>
            <% include ../public/components/post/post.ejs %>
      </div>   
</div>
      
   


<!-- API to get all the posts from the MongoDB -->

<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<script>
// dropdown function
      $('.ui.dropdown')
            .dropdown();

      $('.ui.longer.modal')
            .modal('attach events', '.viewComments', 'show');

      $('.ui.modal.uploadImage')
      .modal('attach events', '#uploadImageButton', 'show');

      $('#content.post')
      .visibility({
            once: false,
            // update size when new content loads
            observeChanges: true,
            // load content on bottom edge visible
      onBottomVisible: function() {
            // loads a max of 5 times
            window.loadFakeContent();
      }
}); 
</script>
</body>

</html>