@import url('../components/fonts/gotham-rounded.css');

* {
   padding: 0px;
   margin: 0px;
   font-family: "Gotham Rounded", sans-serif;
   font-weight: normal;
}

body {
   background: -webkit-linear-gradient(top left, #6DC4FF, #39A0E4) no-repeat;
   background-size: cover;
   background-attachment: fixed;
   width: 100%;
   height: 100%;
   display: grid;
   justify-items: center;
   align-items: center;
}

.loginContainer {
   background-color: #6C4ED5;
   width: 45em;
   height: 35em;
   display: grid;
   grid-template-columns: 1.4fr 1fr;
   border-radius: 10px;
   box-shadow: 0px 3px 6px #0000004a;
}




.logoContainer {
   /* background-color: #6DC4FF; */
   justify-self: center;
   align-self: center;
   margin-bottom: 50px;
}

#GRUMBLR {
      width: 15em;
      height: auto;
      /* background-color: #543da7; */
}





.formContainer {
   background-color: #E4F1FA;
   border-radius: 0px 10px 10px 0px;  
   display: grid;
   align-items: center;justify-content: center
}

      form .title {
         margin-bottom: 20px;
      }

      form .title h1 {
         font-family: "Big John";
         /* background-color: white; */
         text-align: center;
         color: #859CAB;
         width: auto;
         margin-bottom: 10px;
      }

      form {
         width: 16em;
         height: auto;
      }
      
      #username, #password {
         font-size: 0.8em; color: #859CAB; letter-spacing: 1px; font-weight: normal;
      }
      
      #LoginButton {
         background-color: #6CC3FE;
         color: white;
      }
      #LoginButton:hover {
         background-color: #64afe1;
      }

      #registerButton {
            margin-top: 1em; 
            background-color: #6C4ED5;
            color: white;
      }
      #registerButton:hover {
            background-color: #543da7;
      }
