@import '../fonts/gotham-rounded.css';

* {
   margin: 0px;
   padding: 0px;
}

body {
   height: 200vh;
   background-color: #6C4ED5;
}





#content {
   /* background-color: chartreuse; */
   display: grid;
   justify-items: center;
   padding-top: 5em;
}

header {
   background-color: rgba(0, 0, 0, 0.35);
   width: 50em;
   border-radius: 10px;
   overflow: hidden;
   position: realtive;
   display: grid;
}

header .profileHeaderImageContainer {
   height: 15em;
   background-color: aquamarine;
   overflow: hidden;
   display: grid;
}

#headerImage {
   width: 100%;
}

/* AVATAR */
header .profileAvatarContainer {
   background-color: white;
   position: absolute;
   top: 16em;
   margin-left: 1em;
   border-radius: 20em;
   width: 8em;
   height: 8em;
   overflow: hidden;
   align-items: center;
   justify-items: center;
   display: flex;
}

#profileImage {
   height: auto;
   width: 100%;
}

header .profileHeaderUserInfo {
   /* background-color: black; */
   color: white;
   margin: 5px 0px 5px 9.5em;
   height: 5em;
}

.profileHeaderUserInfo h1, h3 {
   font-family: "Gotham Rounded", sans-serif;
   padding: 0px;
   margin: 0px;
}









TIMELINE {
   /* background-color: brown; */
   width: 50em;
   border-radius: 10px;
   margin-top: 12px;
   /* padding: 10px; */
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-column-gap: 10px;
}

.profileDetailsContainer {
   background-color: white;
   border-radius: 10px;
   width: 100%;
   padding: 10px;
   height: 20em;
}

.accountDetails {
   overflow: auto;
   height: auto;
}

.profilePosts {
   display: grid;
   justify-items: center;
   /* background-color: blueviolet; */
   width: 100%;
   overflow: hidden;
}






/* CREATE A POST STYLES */
.createPostContainer {
   /* background-color: #e1e1e1; */
   background-color: white;
   width: 100%;
   border-radius: 10px;
   height: auto;
   overflow: hidden;
   /* display: grid; */
}

.createPostField {
   /* background-color: #e1e1e1; */
   position: relative;
   width: 100%;
   justify-self: center;
   display: grid;
   padding-top: 10px;
   /* padding-bottom: 10px; */
}

#blog_text {
   justify-self: center;
   position: relative;
   width: 100%;
   height: 12em;
   resize: none;
   font-family: inherit;
   outline: none;
   border: none;
}



#removeImageButton {
   background-color: rgba(0, 0, 0, 0.35);
   border-radius: 5px;
   margin-top: 5px;
   height: 20px;
   width: 20px;
   position: absolute;
   right: 0;
   color: rgb(226, 226, 226);
   transition: all 0.2s ease-in-out;
}#removeImageButton:hover {
   color: #5ba8db;
   cursor: pointer;
}

#imageAttachmentContainer {
   padding-top: 10px;
   position: relative;
}
#imageAttachment {
   width: 100%;
   height: auto;
}

.hidden {
   display: none;
}




.createPostControls {
   width: 100%;
   /* background-color: red; */
   height: auto;
   padding: 5px 5px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.imageUpload > input {
   display: none;
}
.imageUpload > label {
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-self: start;
   justify-content: center;
   width: 3em;
   height: 100%;
}
.imageUpload > label:hover {
   background-color: rgb(226, 226, 226);
   cursor: pointer;
}

#uploadImageButton {
   border-radius: 5px;
   justify-self: start;
   /* background-color: black; */
   padding: 0px 8px;
   display: flex;
   justify-items: center;
   align-items: center;
}

#postButton {
   background-color: #6C4ED5;
   color: white;
   border-radius: 5px;
   justify-self: end;
   transition: all 0.1s ease-in-out;
}
#postButton:hover {
   background-color: #5ba8db;
}













/* TIMELINE POSTS OR CONTENTS */
.post {
   background-color: white;
   border-radius: 10px;
   width: 100%;
   overflow: hidden;
   margin: 10px 0px;
}

.postMeta {
   width: 100%;
   /* background-color: rgb(235, 235, 235); */
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.postMetaDate {
   justify-self: end;
   margin-right: 10px;
}

.postContentContainer {
   /* background-color: black;  */
   width: 100%;
   overflow: hidden;
   /* height: 5em; */
}

.postContentText {
   width: 100%;
   padding: 0px 10px;
}

#postContentImage {
   width: 100%;
}


.postContentExtra {
   display: grid;
   padding-bottom: 5px;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}


.postDetails,  {
	background-color: #5ba8db;
	width: 100%;
}









.postComments {
	/* background-color: #5ba8db; */
	width: 100%;
	height: auto;
	display: grid;
}

.viewComments {
   cursor: pointer;
   justify-self: end;
   margin-right: 10px;
}
.viewComments:hover {
   text-decoration: underline;
}

.postCommentsUserInfo {
	position: relative;
	width: 100%;
	/* background-color: #6C4ED5; */
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}


#commentUserAvatar {
   margin-right: 10px;
}

#commentField {
   resize: none;
   width: 98%;
   height: 4em;
   justify-self: center;
   margin-bottom: 5px;
}

.replyButton {
	justify-self: start;
}





.commentSection {
   display: grid;
}


.commentModal {
   width: 100%;
   display: grid;
   grid-template-columns: 1.5fr 1fr;
   overflow: hidden;
}

.modal_commentSection {
   padding: 10px;
}

.captionContainer {
   padding: 5px 10px 10px 10px;
}


.commentContent {
   display: grid;
   grid-template-columns: 1fr 8fr;
   padding-bottom: 10px;
}

.modal_authorName {
   font-weight: bolder;
}