@import '../fonts/gotham-rounded.css';

body {
    width: 100%;
    background-color: #6C4ED5;
}

#miniprofile {
    position: fixed;
    padding: 5em 10px 0px 10px;
    background-color: white;
    display: grid;
    height: 100%;
}

#content {
    /* background-color: chartreuse; */
    width: 100%;
    display: grid;
    justify-items: center;
    padding-top: 5em;
 }

.searchContainer {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    margin-bottom: 30px;
 }

.searchResult {
    font-family: "Gotham Rounded", sans-serif;
    font-weight: normal;
    padding: 10px;
 }

.image #avatar {
    border-radius: 500em;
    margin-bottom: 10px;
    height: 100%;
    background-color: transparent;
}
