@import '../fonts/gotham-rounded.css';

body {
    width: 100%;
    background-color: #6C4ED5;
}

#navBarContainer {
    /* background-color: #6DC4FF; */
    width: 100%;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
 }
 
 #navbar {
    background-Color: #6DC4FF;
    border-radius: 0px;
    font-family: "Gotham Rounded", sans-serif;
 }
 
 #brandLogo {
    width: 10em;
    /* background-color: #6C4ED5; */
    margin-bottom: 2px;
 }
 
 #searchButton {
    background-color: #6C4ED5;
    color: white;
    cursor: pointer;
 }
 
 #userAvatar {
    margin-left: 10px;
    border-radius: 100em;
 }







#miniprofile {
    position: fixed;
    padding: 5em 10px 0px 10px;
    background-color: white;
    display: grid;
    height: 100%;
}

#content {
    /* background-color: chartreuse; */
    width: 100%;
    display: grid;
    justify-items: center;
    padding-top: 5em;
 }

.searchContainer {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    margin-bottom: 30px;
 }

.searchResult {
    font-family: "Gotham Rounded", sans-serif;
    font-weight: normal;
    padding: 10px;
 }

.image #avatar {
    border-radius: 500em;
    margin-bottom: 10px;
    height: 100%;
    background-color: transparent;
}
