@import url('../components/fonts/gotham-rounded.css');

* {
   margin: 0px;
   padding: 0px;
}

body {
    height: auto;
    background: url('../images/patterns/cartographer.png'),-webkit-linear-gradient(top left, #5188ff,#6C4ED5);
    background-attachment: fixed;
    background-repeat: repeat;
}





#content {
   /* background-color: chartreuse; */
   width: 100%;
   display: grid;
   justify-items: center;
   padding-top: 5em;
}

header {
   background-color: rgba(0, 0, 0, 0.35);
   width: 50em;
   border-radius: 10px;
   overflow: hidden;
   position: realtive;
   display: grid;
}

header .profileHeaderImageContainer {
   height: 15em;
   background-color: aquamarine;
   overflow: hidden;
   display: grid;
}

#headerImage {
   width: 100%;
}

/* AVATAR */
header .profileAvatarContainer {
   background-color: white;
   position: absolute;
   top: 16em;
   margin-left: 1em;
   border-radius: 20em;
   width: 8em;
   height: 8em;
   overflow: hidden;
   align-items: center;
   justify-items: center;
   display: flex;
}

#profileImage {
   height: auto;
   width: 100%;
}

header .profileHeaderUserInfo {
   /* background-color: black; */
   color: white;
   margin: 5px 0px 5px 9.5em;
   height: 5em;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}

.profileHeaderUserInfo h1, h3 {
   font-family: "Gotham Rounded", sans-serif;
   padding: 0px;
   margin: 0px;
}

#followButton {
    background-color: #6DC4FF;
    color: rgba(255, 255, 255, 0.768);
    transition: all 0.4s ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275);
}#followButton:hover {
    color: white;
}









TIMELINE {
   /* background-color: brown; */
   width: 50em;
   border-radius: 10px;
   margin-top: 12px;
   /* padding: 10px; */
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-column-gap: 10px;
}

.profileDetailsContainer {
   background-color: white;
   border-radius: 10px;
   width: 100%;
   padding: 10px;
   height: 20em;
}

.accountDetails {
   overflow: auto;
   height: auto;
}

.profilePosts {
   display: grid;
   justify-items: center;
   /* background-color: blueviolet; */
   width: 100%;
   /* overflow: hidden; */
}









/* CREATE A POST STYLES */
.createPostContainer {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: auto;
    overflow: hidden;
}

.createPostField {
   background-color: #ededed;
   position: relative;
   width: 100%;
   justify-self: center;
   display: grid;
   padding-top: 10px;
   /* padding-bottom: 10px; */
}

#blog_text {
    background-color: transparent;
    justify-self: center;
    position: relative;
    width: 100%;
    height: 12em;
    resize: none;
    font-family: inherit;
    outline: none;
    border: none;
}



#removeImageButton {
   background-color: rgba(0, 0, 0, 0.35);
   border-radius: 5px;
   margin-top: 5px;
   height: 20px;
   width: 20px;
   position: absolute;
   right: 0;
   color: rgb(226, 226, 226);
   transition: all 0.2s ease-in-out;
}#removeImageButton:hover {
   color: #5ba8db;
   cursor: pointer;
}

#imageAttachmentContainer {
   padding-top: 10px;
   position: relative;
}
#imageAttachment {
   width: 100%;
   height: auto;
}

.hidden {
   display: none;
}




.createPostControls {
    /* background-color: red; */
    width: 100%;
    height: auto;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

            .imageUpload > input {
            display: none;
            }
            .imageUpload > label {
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-self: start;
            justify-content: center;
            width: 3em;
            height: 100%;
            color: #6C4ED5;
            }
            .imageUpload > label:hover {
            color: #5ba8db;
            cursor: pointer;
            }

            #postButton {
                background-color: #6C4ED5;
                color: white;
                border-radius: 5px;
                justify-self: end;
                transition: all 0.1s ease-in-out;
            }
            #postButton:hover {
                background-color: #5ba8db;
            }

.postCOntainerEnd {
    /* background-color: rgba(0, 0, 0, 0.481); */
    padding: 3em 0px 5em 0px;
    width: 100%;
    font-family: "Gotham ROunded", sans-serif;
    font-weight: bolder;
    color: #ffffff80;
    display: grid;
    justify-items: center;
}