@font-face {font-family: "Gotham Rounded";font-weight: bold;src: url('./Fonts/gotham-rounded-medium.otf');}
@font-face {font-family: "Gotham Rounded";font-weight: bolder;src: url('./Fonts/gotham-rounded-bold.otf');}
@font-face {font-family: "Gotham Rounded";font-weight: normal;src: url('./Fonts/gotham-rounded-book.otf');}
@font-face {font-family: "Gotham Rounded";font-weight: lighter;src: url('./Fonts/gotham-rounded-light.otf');}

@font-face {font-family: "BIG JOHN";font-weight: lighter;src: url('./Fonts/BIG JOHN.otf');}