<link rel="stylesheet" href="../components/navbar/navbar.css">

<!-- NAVIGATION BAR COMPONENT -->
<div id="navBarContainer">
	<div class="ui menu inverted" id="navbar">
		<div class="item">
			<img src="../images/brandlogo.png" alt="" id="brandLogo">
		</div>
		<a href="/timeline" class="item" id="redirectLink">DISCOVER</a>
		<a href="/profile" class="item" id="redirectLink">PROFILE</a>


		<div class="item right">
			<form action="/search" method="POST" class="ui action left icon input">
				<i class="search icon"></i>
				<input type="text" id="" name="searchQuery" placeholder="Search...">
				<button class="ui button" id="searchButton" type="submit">Search</button>
			</form>
		</div>

		<!-- Search Suggestions -->
		<div class="ui dropdown item right" tabindex="0">
			<span id="userName">
				<strong>
					<%=user.username%>
				</strong>
			</span>
			<div id="avatarContainer"
				 style="background: url('<%=profileImage%>'); 
						background-position: center;
						background-size: cover;">
			</div>

			<div class="menu">
				<a href="/settings" class="item">Account Settings</a>
				<a href="/auth/logout" class="item">Logout</a>
			</div>
		</div>
	</div>
</div>